@model PvOption<DtvlPvs>
@{
    Model
    .UseGlobalSlots()
    .AddParentAttr(new
    {
        @class = "Header py-0 w-100 row align-items-center NotSelect"
    });


}

<section class="col-auto ms-3 HeaderBars Pointer"
         style="display:none"
         v-if="mobile || Router?.IsSidebarOpen"
         v-show="mobile || Router?.IsSidebarOpen"
         v-on:click="Router?.OpenSidebar">
    <i class="fa-solid fa-bars HeaderBarsIcon"></i>
</section>

<a class="col-auto ms-3"
   style="height:inherit;"
   href="@Model.RenderSlot(HeaderSlot.RouteUrl)">
    <div class="h-100 row align-content-center align-items-center HeaderTitle">

        @if (Model.HasSlot(HeaderSlot.ImageView))
        {
            <div class="h-100 p-0 col-auto align-content-center HeaderImageView">
                @Model.RenderSlot(HeaderSlot.ImageView)
            </div>
        }
        else if (Model.HasSlot(HeaderSlot.ImageUrl))
        {
            <img class="h-100 col-auto"
                 src="@Model.RenderSlot(HeaderSlot.ImageUrl)" />
        }

        <div class="col-auto ms-2">
            @Model.RenderSlot(HeaderSlot.Title)
        </div>
    </div>
</a>
<div class="col row justify-content-end align-content-center align-items-center px-2">
    @if (Model.TryGetSlotRender(HeaderSlot.ProfileStart, out var ProfileStartRender))
    {
        <div class="col-auto">
            @ProfileStartRender
        </div>
    }
    @if (Model.TryGetSlotRender(HeaderSlot.ProfileMenu, out var ProfileMenu))
    {
        <div class="col-auto ShowOnMounted">
            <dtvl-pv pv-type="Menu"
                     pass-slot="Model.Slots">
                <pv-slot slot="MenuSlot.Activator">
                    <v-card pv-name="HeaderUserView"
                            v-bind="props"
                            class="col-auto text-center HeaderUserCard ms-2"
                            hover
                            variant="tonal"
                            rounded="circle"
                            href="@Model.GetSlotContent(HeaderSlot.ProfileUrl)">
                        <i class="fa-solid fa-circle-user HeaderUserIcon"></i>
                    </v-card>
                </pv-slot>
                <pv-slot slot="MenuSlot.Content">
                    @ProfileMenu
                </pv-slot>
            </dtvl-pv>
        </div>
    }
    else
    {
        <v-card pv-name="HeaderUserView"
                class="col-auto text-center HeaderUserCard ms-2"
                hover
                variant="tonal"
                rounded="circle"
                href="@Model.GetSlotContent(HeaderSlot.ProfileUrl)">
            <i class="fa-solid fa-circle-user HeaderUserIcon"></i>
        </v-card>
    }
</div>